APP_NAME=Document Workflow API
ENVIRONMENT=local
DEBUG=true
API_V1_PREFIX=/api/v1

DATABASE_URL=
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=docflow_db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
